@model IEnumerable<sifoodproject.Models.User>

@{
    Layout = "_AdminLayout";
}
@{
    ViewData["Title"] = "會員管理";
}
<div class="container">
    <div class="row mb-8">
        <div class="col-md-12">
            <div>
                <div>
                    <h2 style="text-align:center;">顧客管理</h2>
                    <!-- breacrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="OrderManage" asp-action="Index" class="text-inherit">首頁</a></li>
                            <li class="breadcrumb-item active" aria-current="page">顧客管理</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xl-12 col-12 mb-5">
            <div class="card h-100 card-lg">
                <div class="p-6">
                    <div class="row justify-content-between">
                        <div class="col-md-4 col-12">
                            <form class="d-flex" role="search">
                                <input class="form-control" type="search" name="searchUsers" value="@ViewBag.searchUsers" placeholder="搜尋顧客" aria-label="Search">
                            </form>
                        </div>

                    </div>
                </div>
                <div class="card-body p-0 ">
                    <div class="table-responsive">
                        <table class="table table-centered table-hover table-borderless mb-0 table-with-checkbox text-nowrap">
                            <thead class="bg-light">
                                <tr>
                                    <th style="text-align: center;">
                                        使用者ID
                                    </th>
                                    <th style="text-align: center;">
                                        姓名
                                    </th>
                                    <th style="text-align: center;">
                                        信箱
                                    </th>
                                    <th style="text-align: center;">
                                        電話
                                    </th>
                                    <th style="text-align: center;">
                                        生日
                                    </th>
                                    <th style="text-align: center;">
                                        功能
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            @Html.DisplayFor(modelItem => item.UserId)
                                        </td>
                                        <td style="text-align: center;">
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td style="text-align: center;">
                                            @Html.DisplayFor(modelItem => item.UserEmail)
                                        </td>
                                        <td style="text-align: center;">
                                            @Html.DisplayFor(modelItem => item.UserPhone)
                                        </td>
                                        <td style="text-align: center;">
                                            @String.Format("{0:yyyy-MM-dd}", item.UserBirthDate)
                                        </td>
                                        <td style="text-align:center;">
                                            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="@("#EditUser-" + item.UserId)" data-url="@Url.Action($"Edit1/{item.UserId}")">
                                                <i class="bi bi-pencil-square me-3"></i>修改
                                            </button>
                                            @await Html.PartialAsync("_Edit",item)
                                            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="@("#DetailUser-" + item.UserId)" data-url="@Url.Action($"Details1/{item.UserId}")">
                                                <i class="bi bi-info-circle me-3"></i>明細
                                            </button>
                                            @await Html.PartialAsync("_Details",item)
                                            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="@("#DeleteUser-" + item.UserId)" data-url="@Url.Action($"Delete1/{item.UserId}")">
                                                <i class="bi bi-trash me-3"></i>刪除
                                            </button>
                                            @await Html.PartialAsync("_Delete",item)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="border-top d-md-flex justify-content-between align-items-center p-6">
                    <span>顯示 @ViewBag.EntriesStart 到 @ViewBag.EntriesEnd 筆資料，共 @ViewBag.TotalEntries 筆資料。</span>
                    <nav class="mt-2 mt-md-0">
                        <ul class="pagination mb-0">
                            @if (ViewBag.Page > 1)
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("Index", new { page = ViewBag.Page - 1, searchUsers = ViewBag.searchUsers })">上一頁</a></li>
                            }

                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="page-item @(i == ViewBag.Page ? "active" : "")"><a class="page-link" href="@Url.Action("Index", new { page = i, searchUsers = ViewBag.searchUsers })">@i</a></li>
                            }

                            @if (ViewBag.Page < ViewBag.TotalPages)
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("Index", new { page = ViewBag.Page + 1, searchUsers = ViewBag.searchUsers })">下一頁</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>