@model List<OrderManageVM>
@{
    ViewData["Title"] = "刪除訂單";
    Layout = "_AdminLayout";
    <link rel="shortcut icon" href="~/images/sifood_logo_bgclear.png">
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet" />
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
    <link href="~/assets/css/theme.min.css" rel="stylesheet" />

    <style>
        .col-sm-2 {
        background-color: forestgreen;
        color: #fff;
        text-align: center;
        }
    </style>
}

<h2>刪除</h2>

<div>
    <h4>訂單資料</h4>
    <hr />
    <div class="mt-8">

        @if (Model.Any())
        {
            var firstOrderDetail = Model.First();
            <div class="row">
                <!-- Customer Information -->
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="mb-6">
                        <h6 style="color: forestgreen;">顧客資料</h6>
                        <p class="mb-1 lh-lg">
                            @Html.DisplayFor(model => firstOrderDetail.UserName)<br>
                            @Html.DisplayFor(model => firstOrderDetail.UserPhone)<br>
                            @Html.DisplayFor(model => firstOrderDetail.OrderAddress)
                        </p>
                    </div>
                </div>

                <!-- Store Information -->
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="mb-6">
                        <h6 style="color: forestgreen;">店家資料</h6>
                        <p class="mb-1 lh-lg">
                            @Html.DisplayFor(model => firstOrderDetail.StoreName)<br>
                            @Html.DisplayFor(model => firstOrderDetail.StorePhone)<br>
                            @Html.DisplayFor(model => firstOrderDetail.StoreAddress)
                        </p>
                    </div>
                </div>
            </div>
            }

            <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                <thead class="bg-light">
                    <tr class="text-center">
                        <th>訂單編號</th>
                        <th>訂單日期</th>
                        <th>商品名稱</th>
                        <th>商品數量</th>
                        <th>產品編號</th>
                        <th>商品單價</th>
                        <th>金額</th>
                        <th>訂單狀態</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var orderDetail in Model)
                    {
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(model => orderDetail.OrderId)
                            </td>
                            <td>
                                @Html.DisplayFor(model => orderDetail.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => orderDetail.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => orderDetail.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(model => orderDetail.ProductId)
                            </td>
                            <td>
                                @Html.DisplayFor(model => orderDetail.ProductUnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(model => orderDetail.Total)
                            </td>
                            <td>
                                @Html.DisplayFor(model => orderDetail.StatusName)
                            </td>
                        </tr>
                  }
                </tbody>
            </table>

            <div>
           
                <form asp-action="Delete">
                    <input type="submit" onclick='return confirm("確定要刪除嗎?")' value="刪除" class="btn btn-danger" /> |
                    <a asp-action="Index">回首頁</a>
                </form>
            </div>       
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

